* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

.content {
	width: 60%;
	padding: 40px;
	margin: auto;
}

#form-pesan-tiket{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: lightgrey;
	border-radius: 10px;

}

input[type="text"], .container-gender, select, textarea, .persetujuan{
	width: 100%;
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: none;
	border-radius: 7px;
	background-color: #f0f0f0;
}


textarea{
	height: 200px;
	resize: none;

}

button#kirim{
	width: 150px;
	padding: 15px;
	margin-top: 20px;
	margin-left: auto;
	border: none;
	border-radius: 4px;
	background-color: blue;
	color: white;
}